.content{	
    /* background: rgba(255, 255, 255, 0.6); */
    width: calc(80% - 2*30px);
    padding: 30px;
    border-radius: 30px;

}

.content .object{
	width: 28%;
    margin: 40px 2.3%;
}


.content-note{
	margin: 115px auto 0 auto;
    width:50%;
}


.meniu-note {
    list-style: none;
    margin-top: 100px;	
    margin-bottom: -120px;
    padding: 0;
    text-align: center;
}


.meniu-note li {
 
    position: relative;    
    display: inline-block;
    width: 30%;
    height: 40px;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    background-color: #333;
    margin-right: 10px;
  
}

.meniu-note li a {
    display: block;
    color: white;
    text-decoration: none;
}

.meniu-note li a:hover {
    background-color: green;
}

/*-------------------------- Media Queries --------------------------*/

@media screen and (min-width: 380px) and (max-width: 530px){


 .content .object {
    width: 40%;
    margin: 40px 2.3%;
}

}

@media screen and (max-width: 379px) {


    .content .object {
    width: 88%;
    margin: 10px 2%;


}

@media screen and (max-width: 500px){

    .content-note{
        margin: 50px auto 0 auto;
        width: auto;
    }

    .meniu-note li {
 
    position: relative;    
    display: block;
    width: 100%;
    height: 40px;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    background-color: #333;
    margin-right: 10px;
    margin-bottom:3px;
  
}
}
/*-------------------------- Media Queries --------------------------*/